/* 1920px 이하 */
@media (max-width: 1920px) {
  .thread-container {
    min-height: 100vh;
    padding: 180px 180px 0;
  }

  .thread-header {
    font-size: var(--font-large2);
    font-weight: var(--font-bold-weight);
    color: var(--text-black);
    margin-bottom: 60px;
  }

  .thread-new-thread-button {
    background-color: var(--text-point);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    font-size: var(--font-smallest);
    font-weight: var(--font-medium-weight);
  }

  .thread-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .thread-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 배치 */
    gap: 40px 60px; /* 세로 40px, 가로 60px */
  }
}

/* 1600px 이하 */
@media (max-width: 1600px) {
  .thread-container {
    padding: 160px 160px 0;
  }

  .thread-list {
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
    gap: 30px 50px; /* 세로 30px, 가로 50px */
  }
}
