@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* 기본 텍스트 컬러 */
  --text-black: #222222;
  --text-gray-dark: #777777;
  --text-gray-medium: #999999;
  --text-gray-light: #cccccc;
  --text-gray-bg: #ececec;

  /* 포인트 컬러 */
  --text-point: #4b433b;
  --text-red: #e83030;

  /* 폰트 설정 */
  --font-kr: "Noto Sans KR", sans-serif;
  --font-en: "Poppins", sans-serif;

  /* 폰트 사이즈 (국문) */
  --font-kr-largest: 36pt;
  --font-kr-large: 24pt;
  --font-kr-regular: 18pt;
  --font-kr-title: 18pt;
  --font-kr-small: 16pt;
  --font-kr-smallest: 14pt;

  /* 폰트 사이즈 (영문/숫자) */
  --font-en-largest: 42pt;
  --font-en-large: 32pt;
  --font-en-title: 20pt;
  --font-en-regular: 18pt;
  --font-en-smallest: 14pt;

  /* 폰트 두께 (국문) */
  --font-kr-regular: 400; /* Regular */
  --font-kr-bold: 700; /* Bold */

  /* 폰트 두께 (영문/숫자) */
  --font-en-regular: 400; /* Regular */
  --font-en-medium: 500; /* Medium */
  --font-en-semibold: 600; /* SemiBold */
  --font-en-bold: 700; /* Bold */
}
